.about {
  margin-bottom: 130px;

  @include viewport--md {
    margin-bottom: 30px;
  }

  @include viewport--sm {
    margin-bottom: 43px;
  }
}

.about__container {
  max-width: 1230px;
  text-align: center;

  @include viewport--md {
    max-width: 604px;
  }
}

.about__title {
  margin-bottom: 50px;
  color: $color-black;

  @include viewport--md {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 41px;
  }
}

.about__list {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.about__list-item {
  width: 263px;
  margin: 0;
  margin-right: 38px;
  margin-bottom: 20px;
  counter-increment: my-awesome-counter;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: "0" counter(my-awesome-counter);
    margin: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1.3px;
    color: $color-robins-egg-blue;

    @include viewport--sm {
      margin-bottom: 16px;
    }
  }

  @include viewport--md {
    margin-right: 30px;
    margin-bottom: 40px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @include viewport--sm {
    margin: 0 auto 40px;

    &:nth-child(even) {
      margin: 0 auto 40px;
    }

    &:not(:first-child) .about__text {
      padding-top: 10px;
    }
  }
}

.about__text {
  margin: 0;
  padding-top: 15px;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;

  @include viewport--sm {
    font-size: 18px;
  }
}
