.btn-reset {
  display: none;

  @include viewport--md {
    position: absolute;
    top: -17px;
    right: 0;
    z-index: 2;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: $color-robins-egg-blue;
  }

  &:hover,
  &:focus {
    background-color: fade-out($color-robins-egg-blue, 0.2);
  }
}
