.catalog {
  padding-bottom: 134px;
  background-color: $color-lightgray;
  padding-top: 150px;
  text-align: center;

  @include viewport--md {
    padding-bottom: 70px;
    padding-top: 52px;
  }

  @include viewport--sm {
    padding-bottom: 55px;
  }
}

.catalog__container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1226px;

  @include viewport--md {
    padding: 0;
    max-width: 590px;
  }

  @include viewport--sm {
    padding: 0 25px;
  }
}

.catalog__title {
  margin-bottom: 50px;
  color: #1f1f1f;

  @include viewport--md {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 41px;
  }
}

.catalog__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include viewport--md {
    flex-wrap: wrap;
  }

  @include viewport--sm {
    display: flex;
    flex-direction: column;
  }
}
