.footer {
  flex: 0 0 auto;
}

.footer__container {
  min-height: 100px;
  margin: 0 auto;
  padding: 40px 30px 80px;

  @include viewport--md {
    padding-top: 18px;
    padding-bottom: 54px;
  }

  @include viewport--sm {
    padding: 30px 22px 50px;
  }
}

.footer__contacts {
  text-align: center;

  @include viewport--sm {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.footer__item {
  position: relative;
  margin-right: 86px;
  padding-left: 40px;
  font-size: 16px;
  line-height: 22px;
  color: fade-out($color-default-black, 0.5);

  @include viewport--sm {
    margin: 0 auto;
    margin-bottom: 24px;
    padding-left: 46px;
  }

  &:last-child {
    margin-right: 15px;

    @include viewport--md {
      margin-right: 10px;
    }

    @include viewport--sm {
      margin: 0 auto;
      padding-right: 23px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-default-black;
  }
}

.footer__icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;

  @include viewport--sm {
    left: 8px;
  }
}
