.footer__container {
  min-height: 100px;
  margin: 0 auto;
  padding: 33px 100px 80px;

  @include viewport--md {
    padding-top: 15px;
    padding-bottom: 54px;
  }

  @include viewport--sm {
    padding: 24px 22px 50px;
  }
}

.footer__contacts {
  display: flex;
  justify-content: center;

  @include viewport--sm {
    flex-direction: column;
    text-align: center;
  }

  a {
    position: relative;
    margin-right: 105px;
    padding-left: 22px;
    font-size: 16px;
    line-height: 22px;
    color: #808080;

    @include viewport--md {
      margin-right: 98px;
      padding-left: 30px;
    }

    @include viewport--sm {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 24px;
      padding-left: 47px;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color-default-black;
    }

    &:last-child {
      margin: 0 auto;
    }
  }

  .footer__item--phone {
    @include viewport--sm {
      padding-left: 25px;
    }
  }
}

.footer__icon {
  position: absolute;
  top: 0;
  left: -19px;
  stroke: #d7d9df;
  fill: none;

  @include viewport--md {
    left: -10px;
  }

  @include viewport--sm {
    left: 8px;
  }

  &--phone {
    left: -13px;

    @include viewport--md {
      left: -6px;
    }

    @include viewport--sm {
      left: -10px;
    }
  }
}
