form {
  h3 {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: $color-default-white;

    @include viewport--md {
      color: $color-default-black;
      font-size: 18px;
      margin-bottom: 29px;
    }

    @include viewport--sm {
      margin-bottom: 19px;
    }
  }

  button {
    width: 100%;
    padding: 14px 29px;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    background: $color-robins-egg-blue;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: fade-out($color-robins-egg-blue, 0.2);
    }
  }
}

.form__item {
  margin: 0;
  margin-bottom: 21px;
}

.form__item input {
  width: 100%;
  padding: 14px 29px 8px;
  font-size: 15px;
  line-height: 24px;
  background-color: $color-default-white;
  border: 1px solid $color-link-water;
  border-radius: 6px;

  @include viewport--md {
    padding: 11px 21px 10px;
  }

  @include viewport--sm {
    padding: 11px 25px 10px;
  }

  &::placeholder {
    color: fade-out($color-nero, 0.5);
  }

  &:hover::placeholder {
    color: fade-out($color-nero, 0.8);
  }
}
