.header {
  display: flex;
  align-items: center;
  min-height: 62px;
  padding: 0 40px;
  position: relative;
  z-index: 5;

  @include viewport--md {
    padding: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 875px;
    margin: 0 auto;

    @include viewport--md {
      &--nojs {
        height: auto;
        max-width: 100%;
        margin: 0;
        padding-bottom: 65px;
      }

      &--nojs .header__logo {
        display: none;
      }

      z-index: 5;
      flex-direction: column;

      &--opened {
        position: absolute;
        top: 0;
        height: 100vh;
        background-color: $color-default-white;
      }

      &--opened .header__logo {
        display: none;
      }
    }
  }

  a,
  p {
    color: $color-white;
  }

  nav {
    width: 100%;
    padding: 0 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @include viewport--md {
      border: none;
      padding: 0;
    }
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 12px;
    padding: 0;
    list-style: none;

    @include viewport--md {
      margin: 0;
      flex-direction: column;
      padding-top: 100px;
    }

    li {
      margin-right: 20px;
      padding: 9px;

      @include viewport--md {
        position: relative;
        margin-right: 0;
        margin-bottom: 30px;
        padding: 16px;
        background-color: #f6f6f6;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover a {
        color: $maincolor;
      }

      a {
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        opacity: 0.7;

        @include viewport--md {
          font-weight: 400;
          font-size: 20px;
          line-height: 140%;
          color: #48494d;
          opacity: 1;

          &::after {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            top: 23px;
            right: 17px;
            background: url("../../img/sprite/icon-arrow.svg") no-repeat;
          }
        }
      }
    }
  }
}

.header__logo {
  position: absolute;
  margin-top: 594px;
  cursor: pointer;

  @include viewport--md {
    position: relative;
    width: 100%;
    margin-top: 7px;
    margin-left: 38px;
  }
}
