.intro {
  position: relative;
  top: -65px;
  background-image: url("../../img/bg/intro-bg-desktop@1x.jpg");
  background-color: $color-black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $color-white;

  @include retina {
    background-image: url("../../img/bg/intro-bg-desktop@1.5x.jpg");
    background-size: 2160px auto;
  }

  @include viewport--md {
    background-image: url("../../img/bg/intro-bg-tablet@1x.jpg");

    @include retina {
      background-image: url("../../img/bg/intro-bg-tablet@1.5x.jpg");
      background-size: 1151px auto;
    }
  }

  @include viewport--sm {
    background-image: url("../../img/bg/intro-bg-mobile@1x.jpg");

    @include retina {
      background-image: url("../../img/bg/intro-bg-mobile@1.5x.jpg");
      background-size: 479px auto;
    }
  }
}

.intro__content {
  margin: 0 auto;
  padding-top: 325px;
  padding-bottom: 240px;
  max-width: 880px;
  display: flex;
  justify-content: space-between;

  @include viewport--md {
    flex-direction: column;
    padding-top: 138px;
    padding-bottom: 80px;
    max-width: 435px;
    text-align: center;
  }

  @include viewport--sm {
    padding-top: 124px;
    padding-bottom: 70px;
  }

  h2 {
    margin: 0;
    margin-top: 45px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 46px;
    line-height: 64px;

    @include viewport--md {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 42px;
    }
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    opacity: 0.8;

    @include viewport--md {
      font-size: 18px;
      line-height: 32px;
    }
  }
}

.intro__column {
  width: 45%;

  @include viewport--md {
    width: 100%;
  }
}
