.video {
  margin-bottom: 250px;
  padding-bottom: 425px;
  background-color: $color-darkgray;
  text-align: center;

  @include viewport--md {
    margin-bottom: 154px;
    padding-bottom: 197px;
  }

  @include viewport--sm {
    margin-bottom: 119px;
    padding-bottom: 114px;
  }
}

.video__container {
  padding-top: 120px;

  @include viewport--md {
    padding-top: 70px;
  }

  @include viewport--sm {
    padding-top: 83px;
  }
}

.video__title {
  margin-bottom: 20px;
  padding-right: 8px;
  color: $color-default-white;

  @include viewport--md {
    margin-bottom: 20px;
    padding-right: 0;
    font-size: 24px;
  }

  @include viewport--sm {
    padding-right: 8px;
  }
}

.video__text {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: $color-default-white;
  opacity: 0.7;

  @include viewport--md {
    width: 430px;
    margin-bottom: 40px;
  }

  @include viewport--sm {
    width: 100%;
    margin-bottom: 52px;
  }
}

.video__content {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  z-index: 5;

  img {
    width: 929px;

    @include viewport--md {
      width: 503px;
    }

    @include viewport--sm {
      width: 288px;
    }
  }

  button {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 50%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    background-color: $color-robins-egg-blue;
    cursor: pointer;

    @include viewport--md {
      width: 90px;
      height: 90px;

      svg {
        width: 22px;
        height: 27px;
        padding-left: 4px;
        padding-top: 3px;
      }
    }

    @include viewport--sm {
      width: 65px;
      height: 65px;
    }
  }

  &:hover button {
    width: 100px;
    height: 100px;
  }

  &:focus,
  button:focus,
  svg:focus {
    outline: none;
  }
}
