<form class="form" action="https://echo.htmlacademy.ru" method="post">
  <h3 class="form__title">Заполните поля ниже и мы подберем велосипед Вашей мечты</h3>
  <div class="form__item">
    <label class="form__label" aria-label="Введите Имя">
      <input class="form__input" type="text" name="user_name" placeholder="Введите Ваше Имя" required>
    </label>
  </div>
  <div class="form__item">
    <label class="form__label" aria-label="Введите номер телефона">
      <input class="form__input" type="tel" name="user_tel" placeholder="Введите Ваш номер телефона" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required>
    </label>
  </div>
  <button class="js-button" type="submit">Подобрать велосипед мечты</button>
</form>
