// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-robins-egg-blue:           #0ad9c6;
$color-black:                     #1f1f1f;
$color-white:                     #f6f6f6;
$color-lightgray:                 #f6f7f9;
$color-gray:                      #48494d;
$color-darkgray:                  #141517;
$color-nero:                      #1c1c1c;
$color-link-water:                #c9ccd4;

// Typography
//---------------------------------

$font-family--:                     "Open Sans", "Arial", sans-serif;

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        192dpi;
$retina-dppx:                       2dppx;
