<header class="header @@if (context.mod) { header--@@mod }">
  <div class="header__wrapper header__wrapper--nojs">

    <a class="header__logo" @@if (!context.main) { href="main.html" } aria-label="Переход на главную">
      <img src="img/svg/logo.svg" width="68" height="21" alt="Логотип Велосипеды">
    </a>

    <nav class="main-nav main-nav--opened main-nav--nojs">
      <button class="main-nav__toggle btn-reset" type="button" aria-label="Переключатель отображения меню" aria-pressed="false">
      </button>
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 0) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 0) { href="#about" }>О нас</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 1) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 1) { href="#catalog" }>Виды велосипедов</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 2) { href="#video" }>Видео про велосипеды</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 3) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 3) { href="#map" }>Контакты</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
